.typewriter {
    border-right: 2px solid var(--accent);
    animation: blink 1s infinite;
}

@keyframes blink {
    0%,
    50% {
        border-color: var(--accent);
    }
    51%,
    100% {
        border-color: transparent;
    }
}

.floating {
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes flow {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

